<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="deep" connectionString=" server=MANOZKUMAR2401\SQLEXPRESS01; initial catalog =deep; integrated security=true " />
    <add name="deepConnectionString" connectionString="Data Source=MANOZKUMAR2401\SQLEXPRESS01;Initial Catalog=deep;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="deepConnectionString2" connectionString="Data Source=MANOZKUMAR2401\SQLEXPRESS01;Initial Catalog=deep;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="deepConnectionString3" connectionString="Data Source=MANOZKUMAR2401\SQLEXPRESS01;Initial Catalog=deep;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="deepConnectionString4" connectionString="Data Source=MANOZKUMAR2401\SQLEXPRESS01;Initial Catalog=deep;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="deepConnectionString5" connectionString="Data Source=MANOZKUMAR2401\SQLEXPRESS01;Initial Catalog=deep;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="deepConnectionString6" connectionString="Data Source=MANOZKUMAR2401\SQLEXPRESS01;Initial Catalog=deep;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="deepConnectionString7" connectionString="Data Source=MANOZKUMAR2401\SQLEXPRESS01;Initial Catalog=deep;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="deepmanoj" connectionString="Data Source=MANOZKUMAR2401\SQLEXPRESS01;Initial Catalog=deep;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>